/* 

    font-family: 'Roboto Slab', serif;


    font-family: 'Trade Winds', cursive;


    font-family: 'Open Sans', sans-serif;

*/
body {
  padding: 0;
  margin: 0;
  background: url("patterns/ep_naturalwhite.png") repeat;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  line-height: 2;
  letter-spacing: 2;
  text-align: justify;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    


}

header {
    font-family: 'Trade Winds', cursive;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;

}
article {
    padding: 4em;
    padding-top: 1em;
    display: block;
    width: 60%;
}
article p a {
    text-decoration: underline;
    font-style: italic;
    font-weight: lighter;
    
}
.icons {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    margin: 40px auto;
}
.icons a  fa-linkedin-in:hover {
color: #0077B5;
}
.fa-github:hover {
    color: #24292E;
}

@media (max-width: 800px) {
    .container {
        width: 90%;
        justify-content: space-between;
    }
    header {
        line-height: 1.2;
    }
    article {
        width: 100%;
        padding: 0.7em;
        padding-top: 0px;
    }
    .icons {
        width: 100%;
    }
}
