.socialGrid {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 20px auto;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  background: #2196f3;
  border-radius: 50%;
  color: white;
  transition: all 0.3ms ease-in;
}

@media (max-width: 900px) {
  .socialGrid {
    width: 100%;
  }
}
