:root {
  --primary: #8083ff;
  --black: #181e2a;
  --white: #ffffff;
  --white-2: #f1f1f5;
  --gray: #9db5b9;
  --nav-light: var(--white);
  --nav-dark: var(--black);
  --nav-background: var(--nav-light);
  --background-light: rgba(0, 0, 0, 0.025);
  --header-font: 'Inconsolata', 'Nunito', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Work Sans, Oxygen, Cantarell, 'Helvetica Neue', sans-serif;
  --body-font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Work Sans,
    Oxygen, Cantarell, 'Helvetica Neue', sans-serif;

  /*Accent Colors*/
  --accent-pink: #f70961;
  --accent-green: #03b75a;
  --accent-blue: #00a5cf;
  --accent-orange: #f06543;
  --accent-purple: #8083ff;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: inherit;
}

html.dark {
  background: var(--black);
  color: var(--white);
  --nav-background: var(--nav-dark);
  --text-color: var(--white);
  --background-light: rgba(255, 255, 255, 0.025);
}

html.light {
  background: var(--white);
  color: var(--black);
  --nav-background: var(--nav-light);
  --text-color: var(--black);
}

html.accent-green {
  --primary: var(--accent-green);
}
html.accent-pink {
  --primary: var(--accent-pink);
}
html.accent-orange {
  --primary: var(--accent-orange);
}
html.accent-blue {
  --primary: var(--accent-blue);
}
html.accent-purple {
  --primary: var(--accent-purple);
}

hr {
  background: var(--text-color);
}

* > {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--primary);
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  opacity: 0.7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

#disqus_thread {
  padding: 1rem;
  border: 1px solid var(--gray);
  box-shadow: 2px 2px 1px var(--gray);
  margin: 3rem 0;
  transition: box-shadow 0.3s linear;
  background: var(--white);
  color: var(--black);
}

#disqus_thread:hover,
#disqus_thread:focus {
  box-shadow: none;
}

.box-shadow-2px-blur {
  box-shadow: 0px 0px 2px var(--gray);
}
