:root {
  --primary: #00a5cf;
  --black: #131217;
  --black-ter: #242033;
  -er: #121212;
  --white: #ffffff;
  --white-ter: #B3B6B9;
  --gray: #9db5b9;

  /*Accent Colors*/
  --accent-pink: #f70961;
  --accent-green: #03b75a;
  --accent-blue: #00a5cf;
  --accent-orange: #F49820;
  --accent-purple: #8083ff;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: inherit;
}

html.dark {
  background: var(--black);
  color: var(--white-ter);
  --background: var(--black);
  --nav-bg: var(--black);
}

html.light {
  background: var(--white);
  color: var(--black-ter);
  --background: var(--white-ter);
  --nav-bg: var(--white);
}

html.accent-green {
  --primary: var(--accent-green);
}
html.accent-pink {
  --primary: var(--accent-pink);
}
html.accent-orange {
  --primary: var(--accent-orange);
}
html.accent-blue {
  --primary: var(--accent-blue);
}
html.accent-purple {
  --primary: var(--accent-purple);
}

hr {
  background: var(--text-color);
}

* > {
  box-sizing: border-box;
  overflow-wrap: break-word;
}


a {
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  opacity: 0.7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

