@import './base.css';

main a {
  opacity: 0.8;
  transition: opacity 0.1s ease-in;
  display: inline-block;
}
main a:hover,
main a:focus {
  opacity: 1;
}


.pageHeader {
  margin-bottom: 20px;
  text-align: center;
}

.contact-page {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px auto;
  line-height: 2;
  padding: 2.5rem 1rem;
  animation: slideFromBottom 0.5s ease;
  transform-origin: bottom;
}

.about {
  margin: 20px auto;
  padding: 0 1rem 1rem 1rem;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  /* text-align: justify; */
  animation: slideFromBottom 0.7s ease;
  transform-origin: bottom;
}

.skills ul {
  list-style: none;
  margin-left: 0.7rem;
}

.skills_boxes {
  margin: 1rem auto 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem 2rem;
  justify-items: center;
  padding: 1rem 0.7rem 1.5rem;
  grid-auto-rows: 1fr;
}

.skills__box {
  width: 100%;
  padding: 1rem;
  transition: all 0.3s ease-in;
  border-radius: 10px;
  opacity: 0.8;
}

.skills__box:focus,
.skills__box:hover {
  text-decoration: none !important;
  box-shadow: 0 0 2px var(--gray);
  transition: all 0.5s ease-out;
  z-index: 0;
  opacity: 1;
}


@media (max-width: 900px) {
  main {
    padding: 5px;
  }

}

.btn {
  text-decoration: none;
  color: var(--white);
  padding: 1rem 0.5rem;
}

@keyframes slideFromBottom {
  from {
    transform: translateX(-100%);
    opacity: 0;
    transform: scaleY(0.5);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
    transform: scaleY(1);
  }
}

::-moz-selection {
  /* Code for Firefox */
  background: var(--primary);
  color: var(--white);
}

::selection {
  background: var(--primary);
  color: var(--white);
}

/*
 Common Utils classes
*/

.title-2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.tag {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    margin: 0.25rem;
    text-decoration: none;
}


.tag.javascript {
  background-color: #F6D133;
  color: black;
}

.tag.node {
  background-color: #8CC03D;
  color: #44463B;
}
.tag.css {
  background-color: #2962EA;
  color: white;
}
.tag.react {
  color: white;
  background-color: #58D4F6;
}