@import url('https://rsms.me/inter/inter.css');

:root {
  --primary: #8083ff;
  --black: #181e2a;
  --white: #ffffff;
  --white-2: #f1f1f5;
  --gray: #9db5b9;
  --nav-light: var(--white-2);
  --nav-dark: var(--black);
  --nav-background: var(--nav-light);
  --background-light: rgba(0, 0, 0, 0.025);

  /*Accent Colors*/
  --accent-pink: #f70961;
  --accent-green: #03b75a;
  --accent-blue: #00a5cf;
  --accent-orange: #f06543;
  --accent-purple: #8083ff;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

body.dark {
  background: var(--black);
  color: var(--white);
  --nav-background: var(--nav-dark);
  --text-color: var(--white);
  --background-light: rgba(255, 255, 255, 0.025);
}

body.light {
  background: var(--white);
  color: var(--black);
  --nav-background: var(--nav-light);
  --text-color: var(--black);
}

body.accent-green {
  --primary: var(--accent-green);
}
body.accent-pink {
  --primary: var(--accent-pink);
}
body.accent-orange {
  --primary: var(--accent-orange);
}
body.accent-blue {
  --primary: var(--accent-blue);
}
body.accent-purple {
  --primary: var(--accent-purple);
}

hr {
  background: var(--text-color);
}



* > {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--primary);
}

main {
  width: 100%;
  max-width: 960px;
}
main a {
  text-decoration: none;
}
main a:hover,
main a:focus {
  text-decoration: underline;
}

.home {
  border: 1px solid var(--gray);
  box-shadow: 2px 2px var(--gray);
  padding: 2.5rem 1rem;
  text-align: center;
  line-height: 1.5;
  border-radius: 5px;
}

.projects {
  margin: 20px auto;
  text-align: center;
  line-height: 1.5;
  padding: 0 1rem 1rem 1rem;
}

.pageHeader {
  margin-bottom: 20px;
  text-align: center;
}

.contact-page {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px auto;
  line-height: 2;
  padding: 2.5rem 1rem;
  text-transform: capitalize;
}

.about {
  margin: 20px auto;
  padding: 0 1rem 1rem 1rem;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.skills ul {
  list-style: none;
  margin-left: 0.7rem;
}

.blog {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  min-height: 80vh;
  padding: 0 1rem 1rem 1rem;
  line-height: 1.7;
  max-width: 700px;
}

.blog .blog-post-box {
  padding-bottom: 0.7rem;
}

.blog .blog-post-box:hover {
  text-decoration: none !important;
}
.blog .blog-post-list {
  margin-top: 1rem;
}

@media (max-width: 900px) {
  main {
    padding: 5px;
  }
  .home {
    padding: 0px;
    border: none;
    text-align: justify;
    box-shadow: none;
  }
  .projects {
    padding: 1rem 0.5rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  opacity: 0.7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;

}
