.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 90vh;
  max-width: 960px;
  margin: auto;
}

.container,
.fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

.container {
  margin: 20px auto;
}

.fluid {
  width: 100%;
}


main {
  width: 100%;
}

@media (max-width: 900px) {
  .box {
    padding-bottom: 60px;
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .container,
  .fluid {
    margin-top: 20px;
  }
}
