.blog {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  min-height: 80vh;
  /* padding: 0 1rem 1rem 1rem; */
  max-width: 100%;
  animation: slideFromBottom 0.7s ease;
  transform-origin: bottom;
}

.blog-post-list {
 
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}


.blog a::after {
  display: none !important;
}

 .blog-post-box {
  padding: 2rem 0;
  /* box-shadow: 2px 2px var(--gray); */
  transition: all 0.3s ease;
  color: inherit;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80%;
  margin-bottom: 2rem;
}

.blog-post-box h2 {
  margin-bottom: 0.5rem;
}

.blog-post-description {
  margin-bottom: 0.5rem;
}

.blog-post-box  a {
  text-decoration: none;
}

.blog .blog-post-box:hover,
.blog .blog-post-box:focus {
  transition: all 0.3s ease;
  z-index: 0;
  opacity: 1;
}


.blog-post-box-extras {
  display: flex;
  justify-content: space-between;
}

.blog-post-box-extras p{
  margin-bottom: 0em;
}

.blog-post-box-extras p:last-child {
  font-size: 0.75rem;
}

@media (max-width: 900px) {
  .blog-post-box {
    width: 100%;
    padding: 1rem 0;
  }
  .blog-post-box-extras {
    flex-direction: column;
  }
  .blog-post-box-extras p:first-child {
    margin-bottom: 1rem;
  }
}
