.blog {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  min-height: 80vh;
  /* padding: 0 1rem 1rem 1rem; */
  max-width: 100%;
  animation: slideFromBottom 0.7s ease;
  transform-origin: bottom;
}

.blog-post-list {
 
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}


.blog a::after {
  display: none !important;
}


