.introheader h2 {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 900;
  background: linear-gradient(
    271deg,
    #f70961,
    #03b75a,
    #00a5cf,
    #f49820,
    #8083ff
  );
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientTextAnim 10s ease infinite;
  line-height: 2.5rem;
}

@keyframes gradientTextAnim {
  0% {
    background-position: 86% 0%;
  }
  50% {
    background-position: 15% 100%;
  }
  100% {
    background-position: 86% 0%;
  }
}
