.introheader {
  width: 100%;
  /* margin: auto; */
  /* height: 120px; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center; */
  max-width: 80%;
}

.introheader h2 {
  margin: 0;
  font-size: 3rem;
  margin-bottom: 3rem;
  background: linear-gradient(271deg, #f70961, #03b75a, #00a5cf, #f49820, #8083ff);
    background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientTextAnim 10s ease infinite;

}


@keyframes gradientTextAnim {
  0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}